<h1>Sign Up</h1>
<form action="/signup" method="POST">
    <div>
        <label>Username: <input type="text" name="username" /></label>
    </div>
    <div>
        <label>Password: <input type="password" name="password" /></label>
    </div>
    <button type="submit">Sign Up</button>
</form>